@model IEnumerable<AppProject.Web.Data.Entities.TaskList>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-info" asp-action="Create">Agregar tarea</a>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iscompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) { 
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <input type="checkbox" @(item.Iscompleted ? "checked" : "") onclick="toggleCompletion(@item.Id)">
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:contents">
                        <button class="btn btn-danger btnDelete">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({
                    title: "¿Desea eliminar la tarea?",
                    text: "No prodrá revertirlo",
                    icon: "question",
                    showCancelButton: true,
                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }

                });

            });

        });

    </script>
}
